<!-- templates/base.html -->
<!DOCTYPE html>
<html lang=en>>
<head>
  <meta charset='utf-8'>
  <title>PDVigil</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
   <div class='navbar'>
       <nav id='navbar-items'>
    <nav id='navbar-items'>
                    <a href="{{ url_for('main.index') }}>
                        <div>Home</div>
                    </a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.profile') }}>
                        <div>Profile</div>
                    </a>
					{% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.chart') }}>
                        <div>Chart</div>
                    </a>							
                    {% endif %}
					{% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.waveform') }}>
                        <div>WaveForm</div>
                    </a>							
                    {% endif %}
					{% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.fftchart') }}>
                        <div>FFT Chart</div>
                    </a>							
                    {% endif %}
					{% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.start') }}>
                        <div>Start</div>
                    </a>							
                    {% endif %}
					{% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.stop') }}>
                        <div>Stop</div>
                    </a>							
                    {% endif %}							
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}>
                        <div>Login</div>
                    </a>
                    <a href="{{ url_for('auth.signup') }}>
                        <div>Sign Up</div>
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}>
                        <div>Logout</div>
                    </a>
                    {% endif %}
    </nav>
  </div>
  <div class='container'>
       {% block content %}
       {% endblock %}
  </div>
</body>
</html>