 <!-- templates/chart.html -->
{% extends "base.html" %}
{% block content %}
    <!-- bar chart canvas element
    <canvas id="chart1" width="600" height="400"></canvas>-->
	<section class="container" width=100%>
		<canvas id="chart1"></canvas>
		<canvas id="chart2"></canvas>
		<canvas id="chart3"></canvas>
		<canvas id="chart4"></canvas>
	</section>
	<!--<p id="pointSelected"><br>Point selected:</p>-->
	<form action="{{ url_for('main.chart')}}" method="post">
		Selected Index: <input type="text" name="pointSelected" id="pointSelected"><br>
    <input type="submit" value="Submit">
	
</form>
    <script>
      // Global parameters:
      // resize the chart canvas when its container does
      Chart.defaults.global.responsive = false;
      // define the chart data
      var chartData = {
        labels : [{% for item in phases %}
                   "{{item}}",
                  {% endfor %}],	  
        datasets : [{
            label: 'Phase',
            fill: true,
            showLine: true,
			data: [{% for item in labels %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
			},
			{
			type: 'bubble',
			label: 'PD Chart',
			data: {{values}},
			backgroundColor: "rgba(76,78,80, .7)",
			borderColor: "transparent"
			}]
      }

      // get chart canvas
      var holder = document.getElementById("chart1");
      var ctx = document.getElementById("chart1").getContext("2d");
      // create the chart using the chart canvas
      var chart1 = new Chart(ctx, {
		type: 'line',
        data: chartData,
        options: {	
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                       return tooltipItems.yLabel;
                     }
            }
          },
        }
      });
	  
      // define the chart2 data
      var chartData2 = {
        labels : [{% for item in labels2 %}
                   "{{item}}",
                  {% endfor %}],	  
        datasets : [{
            label: 'WaveForm',
            fill: true,
            data : {{values2}},
            spanGaps: false
        }]
      }
      // get chart2 canvas
      var holder2 = document.getElementById("chart2");
      var ctx2 = document.getElementById("chart2").getContext("2d");
      // create the chart using the chart canvas
      var chart2 = new Chart(ctx2, {
        type: 'line',
        data: chartData2,
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                       return tooltipItems.yLabel;
                     }
            }
          },
        }
      });

      // define the chart4 data
      var chartData4 = {
        labels : [{% for item in labels4 %}
                   "{{item}}",
                  {% endfor %}],	  
        datasets : [{
            label: 'FFT Chart',
            fill: true,
            data : {{values4}},
            spanGaps: false
        }]
      }
      // get chart4 canvas
      var holder4 = document.getElementById("chart4");
      var ctx4 = document.getElementById("chart4").getContext("2d");
      // create the chart using the chart canvas
      var chart4 = new Chart(ctx4, {
        type: 'line',
        data: chartData4,
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
					   document.getElementById("pointSelected").value = tooltipItems.yLabel;
                       return tooltipItems.yLabel;
                     }
            }
          },
        }
      });
	  
      // create a callback function for updating the selected index on the chart
      holder.onclick = function(evt){
		var activePoints = chart1.getElementsAtEventForMode(evt, 'point', chart1.options);
        var firstPoint = activePoints[0];
        var label = chart1.data.labels[firstPoint._index];
        var value = chart1.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
        console.log(label+";" + value.y);
		//console.log(value);
		//document.getElementById("pointSelected").value = value;
        //console.log('x:' + activePoint[0]._view.x);
        //console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
        //console.log('y: ' + activePoint[0]._view.y);
        //console.log('index: ' + activePoint[0]._index);
		document.getElementById("pointSelected").value = label;
      };
    </script>
{% endblock %}
