<!-- templates/chart.html -->
{% extends "base.html" %}
{% block content %}
<!--
		var data = {
			"pdchart_label":[],
			"pdchart_data":[],
			"pdchart_plotx":[],
			"pdchart_ploty":[],
			"wvchart_label":[],
			"wvart_data":[],
			"fftchart_label":[],
			"fftchart_data":[],
			};
-->
<div class="tile is-ancestor">
		<div class="tile">
		  <div class="chart-container">
			<div id="pdchart"></div>
		  </div>
		</div>
		<div class="tile">
		  <div class="chart-container">
			<div id="wvchart"></div>
		  </div>
	</div>
</div>
<div class="tile is-ancestor">
		<div class="tile">
		  <div class="chart-container information">
			<table id="phase_points_table" class="table is-striped is-fullwidth is-hoverable" width: 100%>
			<colgroup>
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 50%;">
				<col span="1" style="width: 20%;">
				<col span="1" style="width: 20%;">
			</colgroup>
			</table>
		  </div>
		</div>
		<div class="tile">
		  <div class="chart-container">
			<div id="fftchart"></div>
		  </div>
		</div>
</div>
    <script>
	var layout = {
		showlegend: false,
	};
	var config = {responsive: true,'displaylogo': false};
	loadChart('http://localhost:5000/pdv/api/v1.0/get_prpd', showPDChart);

	function removeClassFromElements(els, cls) {
		for(let i = 0; i < els.length; i++) {
			els[i].classList.remove(cls);
		}
	}

	function loadTable(val)
	{
		var url= "http://localhost:5000/pdv/api/v1.0/get_phasepoints?".concat("selected=", val);
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myArr = JSON.parse(this.responseText);
				updateTable("phase_points_table", myArr);
			}
		};
		xmlhttp.open('GET', url, true);
		xmlhttp.send();
	}
	function updateTable(tableId, jsonData){
		var tableHTML = "<tr>";
		tableHTML += "<th>ID</th><th>Time</th><th>Phase</th><th>Peak</th>";
		tableHTML += "</tr>";
		for (var eachItem in jsonData) {
		tableHTML += "<tr>";
		var dataObj = jsonData[eachItem];
		for (var eachValue in dataObj){
		tableHTML += "<td>" + dataObj[eachValue] + "</td>";
		}
		tableHTML += "</tr>";
		}
		document.getElementById(tableId).innerHTML = tableHTML;
		addRowHandlers(tableId);
		loadWaveForm(jsonData[0][0]);
	}
	function addRowHandlers(tableId) {
		var table = document.getElementById(tableId);
		var rows = table.getElementsByTagName("tr");
		for (i = 0; i < rows.length; i++) {
			var currentRow = table.rows[i];
		  var createClickHandler = function(row) {
		    return function() {
					removeClassFromElements(rows, "is-selected");
			    var cell = row.getElementsByTagName("td")[0];
			    var id = cell.innerHTML;
			    row.classList.add("is-selected");
			    loadWaveForm(id);
		    };
		  };
		currentRow.onclick = createClickHandler(currentRow);
		}
	}

	function loadWaveForm(val)
	{
		var url= "http://localhost:5000/pdv/api/v1.0/get_waveform?".concat("selected=", val);
		loadChart(url, showWVFFTChart);
	}
	function loadChart(url, showchart)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var myArr = JSON.parse(this.responseText);
				showchart(myArr);
			}
		};
		xmlhttp.open('GET', url, true);
		xmlhttp.send();
	}
	function showWVFFTChart(data)
	{
      // define the wvchart data
      var wvchart = {
		line: {
			color: 'rgb(50, 168, 160)',
			width: 2
			},
		x: data.wvchart_label,
		y: data.wvchart_data,
		type: 'scatter'
	  };
	  var wvdata = [wvchart];

	  Plotly.newPlot('wvchart', wvdata, config,{displaylogo: false});

      // define the fftchart data
      var fftchart = {
		line: {
			color: 'rgb(50, 168, 160)',
			width: 2
			},
		x: data.fftchart_label,
		y: data.fftchart_data,
		type: 'scatter'
	  };
	  var fftdata = [fftchart];

	  Plotly.newPlot('fftchart', fftdata, config,{displaylogo: false});
	}
	function showPDChart(data)
	{
      // define the chart data
	  var holder = document.getElementById("pdchart");
	  var pdchartTrace1 = {
		line: {
			color: 'rgb(50, 168, 160)',
			width: 1
			},
		x: data.pdchart_label,
		y: data.pdchart_data,
		type: 'scatter',
		mode: 'lines',
		hoverinfo: "none",
	  };
	  var pdchartTrace2 = {
		x: data.pdchart_plotx,
		y: data.pdchart_ploty,
		type: 'scatter',
		mode: 'markers',
		marker: {
			size: 4,
			color: math.abs(data.pdchart_ploty),
			colorscale: 'Blackbody'
		}
	  }
	  var pddata = [pdchartTrace1, pdchartTrace2];

	  Plotly.newPlot('pdchart', pddata, layout, config,{displaylogo: false});
      // create a callback function for updating the selected index on the chart
      var pdchart = document.getElementById("pdchart");
	  pdchart.on ('plotly_click', function(data) {
		var xcoord = data.points[0].x; //get the first point from the selection
		loadTable(xcoord);
	  })
	}
    </script>
{% endblock %}
