.navbar {
  width: inherit;
  height: 36px;
  background-color: #0088ff;
}
#navbar-items {
  font-size: 16px;
  font-family: georgia;
  text-align: center;
}

#navbar-items div {
  width: 80px;
  float: left;
  padding: 10px 0;
  background-color: inherit;
}
#navbar-items a {
  color: #ffffff;
}
.body {  
  background: #1D1F20;
  padding: 1px;
}
canvas {
  border: 1px dotted red;
}
.chart-container {
  position: relative;
  margin: 10px 10px;
  height: 40vh;
  width: 40vw;
}
#trigger_level {
	height: 40px;
}

#start-and-stop {
	width: 150px;
}
.boxContainer {
    display: table;
}
.box {
    width: 80vw;
    height: 40px;
    padding: 2%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

.information {
	margin-top: 80px;
}